* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
  height: auto;
}